/* primary color #1976D2 */
/* app global css */
.hidden {
  display: none;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.q-card {
  width: 350px;
  margin: auto;
  margin-top: 20px;
}
.slika {
  width: 120px;
  height: 120px;
}
.loading {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
}
