/* primary color #1976D2 */
/* app global css */

.hidden {
  display: none;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.q-card {
  width: 350px;
  margin: auto;
  margin-top: 20px;
}
.slika {
  width: 200px;
  height: 200px;
}
.loading {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
}
.login-card {
  padding: 30px;
  width: 500px;
}
.full-height-width {
  width: 100%;
  height: 100%;
}
.input-field {
  padding-bottom: 10px;
}
.error {
  color: red;
  font-size: 12px;
  margin: -10px 0px 10px 10px;
}
.green-bg {
  background-color: #1db31d;
  padding: 5px;
}
.red-bg {
  background-color: red;
  padding: 5px;
}
